<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>



<p>
  <strong>Username:</strong>
  <%= @patient.username %>
</p>

<p>
 <strong>Address:</strong>
 <%= @patient.address %>
</p>

<p>
  <strong>About:</strong>
  <%= @patient.about %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
